@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}

.title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
}

.letter {
    display: inline-block;
    font-family: 'Fraunces';
    font-size: calc(1rem + 9vw);
    margin: -0.4vw;
    color: black;
    -webkit-text-stroke: 1px black;
    transition: all 0.3s ease;
}

.letter:hover {
    cursor: pointer;
    animation: bounce 0.5s ease-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(0.7vw) scaleX(1.1);
    }
    50% {
        transform: translateY(-0.7vw) scaleX(0.9);
    }
    70% {
        transform: translateY(0.3vw) scaleX(1.05);
    }
    100% {
        transform: translateY(0) scaleX(1);
    }
}

.bounce {
    animation: bounce 0.5s ease-out;
}

.to-do-list-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: ghostwhite;
    height: 50vh;
    border-radius: 10px;
    text-align: center;
}

.input {
    position: relative;
    top: 10%;
}

input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    padding: 10px;
    border-radius: 30px;
    background-color: ghostwhite;
    border: 1px solid black;
    box-shadow: 4px 4px 0px black; 
    margin: 10px;
}

input:focus {
    outline: none; 
}

.input button {
    border: solid 1px black;
    font-family: 'Source Code Pro', monospace;
    font-size: 41px;
    font-weight: bold;
    border-radius: 6px;
    margin: 10px;
    background-color: transparent;
    box-shadow: 4px 4px 0px black; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    outline: none; 
}

.input button:hover,
.input button:focus {
    transform: translateX(-5%) translateY(-0.1vw); 
    box-shadow: 8px 8px 0px black; 
    cursor: pointer;
    outline: none; 
}

.input button:active {
    transform: translateX(-1%) translateY(-0.1vw); 
    box-shadow: 9px 9px 0px black; 
    cursor: pointer;
    outline: none; 
}


.list-container {
    position: relative;
    top: 15%;
}

.list-container ul {
    list-style-type: none;
}

.list-container li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    font-family: 'Source Code Pro', monospace;
    font-size: 41px;
    height: 50px;
    width: 100%;
    max-width: 600px;
    margin: 25px;
}

.list-container li button {
    border: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 3vw;
    font-weight: bold;
    background-color: transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    margin-left: 10px;
}

.list-container li button:last-child {
    margin-left: auto;
}

.list-container li button:hover {
    transform: translateX(-5%) translateY(-0.1vw); 
    cursor: pointer;
}

.list-container li button:active {
    transform: translateX(5px) translateY(-0.5vw); 
    cursor: pointer;
}

button {
    outline: none;
}

button:hover, 
button:focus {
    outline: none;
}

/* responsive designs for smaller screen widths */

@media (max-width: 1000px) {
    .list-container li {
        font-size: 20px;
        margin: 0;
    }
}

@media (max-height: 555px) {
    .title {
        display: none;
    }
}


